<!--
  Generated template for the SupListaViajesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Reservas</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <!-- <ion-list>

    <ion-item *ngFor="let reserva of reservas">

      <h2>{{stringsL.{{stringsL.Cliente[stringsL.lenguaje]}}[stringsL.lenguaje]}}: {{reserva.cliente}}</h2>
      <p>{{stringsL.Email[stringsL.lenguaje]}}: {{reserva.email}}</p>
      <p>Fecha: {{reserva.hora}}</p>
      <p>{{stringsL.Origen[stringsL.lenguaje]}}: {{reserva.origen}}</p>
      <p>{{stringsL.Destino[stringsL.lenguaje]}}: {{reserva.destino}}</p>
    </ion-item>

  </ion-list> -->

  <ion-list>
    <ion-item-sliding *ngFor="let reserva of reservas" #slading>
      <ion-item>
        <h2>{{stringsL.Cliente[stringsL.lenguaje]}}: {{reserva.cliente}}</h2>
        <p>{{stringsL.Email[stringsL.lenguaje]}}: {{reserva.email}}</p>
        <p>Fecha: {{reserva.hora}}</p>
        <p>{{stringsL.Origen[stringsL.lenguaje]}}: {{reserva.origen}}</p>
        <p>{{stringsL.Destino[stringsL.lenguaje]}}: {{reserva.destino}}</p>
      </ion-item>
      <ion-item-options>
        <button ion-button color="danger" icon-start (click)="eliminar(reserva,slading)">
          <ion-icon name="trash"></ion-icon>
          Eliminar
        </button>

      </ion-item-options>
    </ion-item-sliding>

  </ion-list>
</ion-content>
