<!--
  Generated template for the AccountPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title *ngIf="!mostrarChofer">{{stringsL.Mi_cuenta[stringsL.lenguaje]}}</ion-title>
    <ion-title *ngIf="mostrarChofer">{{user.nombre}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-list *ngIf="user">
    <img [src]="url" />
    <ion-grid>
      <ion-row>
        <ion-col>
          <!-- <button ion-button block (click)="buscarFoto()">Ubicación actual</button> -->
        </ion-col>
        <ion-col>
          <button ion-button block (click)="takePhoto()" [disabled]="editable" *ngIf="!mostrarChofer">{{stringsL.Modificar_foto[stringsL.lenguaje]}}</button>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-item>
      <ion-label color="primary">{{stringsL.Usuario[stringsL.lenguaje]}}</ion-label>
      <ion-input [(ngModel)]="user.user" [disabled]="true"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label color="primary">{{stringsL.Email[stringsL.lenguaje]}}</ion-label>
      <ion-input [(ngModel)]="user.email" [disabled]="true"></ion-input>
    </ion-item>
    <ion-item *ngIf="!mostrarChofer">
      <ion-label color="primary">{{stringsL.Direccion[stringsL.lenguaje]}}</ion-label>
      <ion-input [(ngModel)]="user.direccion" [disabled]="true"></ion-input>
    </ion-item>
    <ion-item *ngIf="!mostrarChofer">
      <ion-label color="primary">{{stringsL.Contrasenia[stringsL.lenguaje]}}</ion-label>
      <ion-input [(ngModel)]="newPass" [disabled]="editable" type="password"></ion-input>
    </ion-item>
    <ion-item *ngIf="!mostrarChofer">
      <ion-label> {{stringsL.Sonido[stringsL.lenguaje]}}</ion-label>
      <ion-checkbox [(ngModel)]="soundOn" name="soundOn" (ionChange)="checkChanged($event)"></ion-checkbox>
    </ion-item>
  </ion-list>
  <!-- <ion-item>
      <ion-label color="primary">Inline Label</ion-label>
      <ion-input placeholder="Text Input"></ion-input>
    </ion-item> -->

  <button ion-button (click)="editar()" *ngIf="!mostrarChofer" full>{{(editable)?stringsL.Editar[stringsL.lenguaje]:stringsL.Cancelar[stringsL.lenguaje]
    }} </button>
  <button ion-button block (click)="irAlMapa()" *ngIf="!mostrarChofer" full>{{stringsL.Idioma[stringsL.lenguaje]}}
    {{stringsL.Mapa[stringsL.lenguaje]}}</button>
  <button ion-button block (click)="presentL()" *ngIf="!mostrarChofer" full>{{stringsL.Idioma[stringsL.lenguaje]}}:
    {{stringsL.lenguaje}} </button>
  <button ion-button (click)="guardar()" full *ngIf="!editable">{{stringsL.Guardar[stringsL.lenguaje]}}</button>



  <br>
  <button *ngIf="!mostrarChofer" ion-button (click)="logout()" full>{{stringsL.Cerrar_Sesion[stringsL.lenguaje]}}</button>
</ion-content>
