<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{stringsL.Mis_pedidos[stringsL.lenguaje]}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div *ngIf="viaje">
    <h4>{{stringsL.Origen[stringsL.lenguaje]}}</h4>
    <label>{{viaje.origen}}</label>
    <h4>{{stringsL.Destino[stringsL.lenguaje]}}</h4>
    <label>{{viaje.destino}}</label>
    <h4>{{stringsL.Hora[stringsL.lenguaje]}}</h4>
    <label>{{viaje.hora}}</label>
    <h4>{{stringsL.Chofer[stringsL.lenguaje]}}</h4>

    <label>{{(viaje.chofer)?viaje.chofer:stringsL.Sin_asignar[stringsL.lenguaje]}}</label>

    <h4>{{stringsL.Estado[stringsL.lenguaje]}}</h4>
    <label>{{(viaje.finalizado)?stringsL.Terminado[stringsL.lenguaje]: (viaje.chofer)?stringsL.En_viaje[stringsL.lenguaje]: stringsL.En_espera[stringsL.lenguaje]}}</label>
    <p>{{stringsL.Precio[stringsL.lenguaje]}}: {{viaje.precio |currency }}</p>
    <button ion-button (click)="cancelar()" *ngIf="!viaje.finalizado" full>{{stringsL.Cancelar[stringsL.lenguaje]}}</button>

    <button ion-button (click)="irEncuesta()" full *ngIf="viaje.finalizado">{{stringsL.Encuesta[stringsL.lenguaje]}}
    </button>

  </div>

  <div *ngIf="!viaje">
    <ion-grid>
      <ion-row>
        <ion-col>
          <button ion-button block (click)="getUbicacion()">{{stringsL.Ubicacion_actual[stringsL.lenguaje]}}</button>
        </ion-col>
        <ion-col>
          <button ion-button block (click)="getFromMap()">{{stringsL.Elegir_en_el_mapa[stringsL.lenguaje]}}</button>
        </ion-col>
      </ion-row>
    </ion-grid>
    <form #f="ngForm" (ngSubmit)="verElMapa(f)">
      <ion-list>
        <ion-item>
          <ion-label floating>{{stringsL.Origen[stringsL.lenguaje]}}</ion-label>
          <ion-input type="text" [(ngModel)]="origen" name="origen" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>{{stringsL.Destino[stringsL.lenguaje]}}</ion-label>
          <ion-input type="text" [(ngModel)]="destino" name="destino" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>{{stringsL.Hora[stringsL.lenguaje]}}</ion-label>
          <ion-input type="text" [(ngModel)]="hora" name="hora" required disabled></ion-input>
        </ion-item>
      </ion-list>
      <button ion-button block type="submit" [disabled]="!f.valid">{{stringsL.Pedir_Auto[stringsL.lenguaje]}}</button>
    </form>
    <button ion-button (click)="getHora()">{{stringsL.Elegir_hora[stringsL.lenguaje]}}</button>

  </div>
</ion-content>
